@import '../../../styles/index.scss';

.a-small-persone {
  display: flex;
  flex-direction: column;
  background-color: $color-primary-red;
  padding: 20px;
  margin: 10px 0 10px 0;
  border-radius: 5px;

  &__details {
    justify-content: flex-start;
  }
}
